# Core dependencies
streamlit
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
openai
chromadb

# PDF processing
pdfminer.six
pi-heif
unstructured[all]
pillow
PyPDF2

# Other utilities
joblib>=1.3.2